# 1. Importing Modules & Processing Data

The first steep is importing the modules needed for processing the data.

In [1]:
!pip install xgboost catboost pyarrow

Requirement already satisfied: xgboost in /usr/local/lib/python3.11/dist-packages (2.1.4)
Collecting catboost
  Downloading catboost-1.2.8-cp311-cp311-manylinux2014_x86_64.whl.metadata (1.2 kB)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.11/dist-packages (18.1.0)
Requirement already satisfied: numpy in /usr/local/lib/python3.11/dist-packages (from xgboost) (2.0.2)
Requirement already satisfied: nvidia-nccl-cu12 in /usr/local/lib/python3.11/dist-packages (from xgboost) (2.21.5)
Requirement already satisfied: scipy in /usr/local/lib/python3.11/dist-packages (from xgboost) (1.15.3)
Requirement already satisfied: graphviz in /usr/local/lib/python3.11/dist-packages (from catboost) (0.20.3)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.11/dist-packages (from catboost) (3.10.0)
Requirement already satisfied: pandas>=0.24 in /usr/local/lib/python3.11/dist-packages (from catboost) (2.2.2)
Requirement already satisfied: plotly in /usr/local/lib/python3.11/dist-packages (from catboost) (5.24.1)
Requirement already satisfied: six in /usr/local/lib/python3.11/dist-packages (from catboost) (1.17.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=0.24->catboost) (2025.2)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (1.3.2)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (4.58.1)
Requirement already satisfied: kiwisolver>=1.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (1.4.8)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (24.2)
Requirement already satisfied: pillow>=8 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (11.2.1)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.11/dist-packages (from matplotlib->catboost) (3.2.3)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.11/dist-packages (from plotly->catboost) (9.1.2)
Downloading catboost-1.2.8-cp311-cp311-manylinux2014_x86_64.whl (99.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 99.2/99.2 MB 7.1 MB/s eta 0:00:00
Installing collected packages: catboost
Successfully installed catboost-1.2.8

In [4]:
!python pipeline_v3.py

=== PIPELINE START ===

Walk-forward feature selection (method: random_forest, top_n: 20)...
/usr/local/lib/python3.11/dist-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'Series.swapaxes' is deprecated and will be removed in a future version. Please use 'Series.transpose' instead.
  return bound(*args, **kwds)

Feature selection for window 1/4
  Top 10 selected features: ['net_debt_to_equity', 'dsi', 'reps41', 'ev_to_ebit', 'epsp', 'repsfs', 'gross_profit_margin', 'ddtcn', 'reps1', 'epsf']
  Example feature scores (top 5): [np.float64(0.043823828686907824), np.float64(0.04169684577599483), np.float64(0.03948644013462485), np.float64(0.03925614374176234), np.float64(0.03847183150104957)]

Feature selection for window 2/4
  Top 10 selected features: ['repsfs', 'epsp', 'repsf4', 'short_interest', 'repsfl', 'sue', 'price_to_book', 'ddtcn', 'epsf', 'net_debt_to_equity']
  Example feature scores (top 5): [np.float64(0.06444261912823934), np.float64(0.04907874454816956), np.float64(0.0443037833753206), np.float64(0.04287230048006888), np.float64(0.040993606426888665)]

Feature selection for window 3/4
  Top 10 selected features: ['repsfs', 'epsp', 'dsi', 'repsfl', 'reps1', 'short_interest', 'sue', 'repsf4', 'epsf', 'net_cash_flow_oper']
  Example feature scores (top 5): [np.float64(0.0512342801489523), np.float64(0.044385349744506274), np.float64(0.042546300751211026), np.float64(0.04198727023001928), np.float64(0.041099739249024936)]

Feature selection for window 4/4
  Top 10 selected features: ['repsfs', 'repsfl', 'epsf', 'epsp', 'asset_turnover_ratio', 'short_interest', 'net_debt_to_equity', 'dsi', 'day_cos', 'net_cash_flow_oper']
  Example feature scores (top 5): [np.float64(0.060165715993366405), np.float64(0.047065851992071216), np.float64(0.04642573726450847), np.float64(0.045747337960862756), np.float64(0.039041032117211674)]

Stable features selected in at least half of the windows: 17
/usr/local/lib/python3.11/dist-packages/numpy/_core/fromnumeric.py:57: FutureWarning: 'Series.swapaxes' is deprecated and will be removed in a future version. Please use 'Series.transpose' instead.
  return bound(*args, **kwds)

Walk-forward fold 1/4

Walk-forward fold 2/4

Walk-forward fold 3/4

Walk-forward fold 4/4

Saved walk-forward validation predictions to results/walk_forward_validation_predictions.csv
Saved test predictions to results/test_predictions.csv
Saved test predictions with date to results/test_predictions_with_date.csv
=== BACKTEST START ===
2025-06-06 15:49:59,318 - INFO - Starting backtest
2025-06-06 15:49:59,353 - INFO - Backtesting RandomForest model...
2025-06-06 15:54:36,119 - INFO -
RandomForest Model Backtest Results:
2025-06-06 15:54:36,119 - INFO - Annual Return: -60.07%
2025-06-06 15:54:36,120 - INFO - Annual Volatility: 28.79%
2025-06-06 15:54:36,120 - INFO - Sharpe Ratio: -2.16
2025-06-06 15:54:36,120 - INFO - Max Drawdown: -20.22%
2025-06-06 15:54:36,120 - INFO - Information Ratio: -2.09
2025-06-06 15:54:36,120 - INFO - Win Rate: 18.97%
2025-06-06 15:54:36,120 - INFO - Backtesting XGBoost model...
2025-06-06 15:55:19,564 - INFO -
XGBoost Model Backtest Results:
2025-06-06 15:55:19,564 - INFO - Annual Return: -85.85%
2025-06-06 15:55:19,564 - INFO - Annual Volatility: 40.45%
2025-06-06 15:55:19,564 - INFO - Sharpe Ratio: -2.17
2025-06-06 15:55:19,564 - INFO - Max Drawdown: -24.71%
2025-06-06 15:55:19,564 - INFO - Information Ratio: -2.12
2025-06-06 15:55:19,564 - INFO - Win Rate: 17.24%
2025-06-06 15:55:19,564 - INFO - Backtesting Lasso model...
2025-06-06 15:55:20,997 - INFO -
Lasso Model Backtest Results:
2025-06-06 15:55:20,997 - INFO - Annual Return: -28.52%
2025-06-06 15:55:20,997 - INFO - Annual Volatility: 29.38%
2025-06-06 15:55:20,997 - INFO - Sharpe Ratio: -1.04
2025-06-06 15:55:20,997 - INFO - Max Drawdown: -13.22%
2025-06-06 15:55:20,997 - INFO - Information Ratio: -0.97
2025-06-06 15:55:20,997 - INFO - Win Rate: 22.41%
2025-06-06 15:55:20,998 - INFO - Backtesting CatBoost model...
2025-06-06 16:01:00,091 - INFO -
CatBoost Model Backtest Results:
2025-06-06 16:01:00,091 - INFO - Annual Return: 77.79%
2025-06-06 16:01:00,091 - INFO - Annual Volatility: 36.26%
2025-06-06 16:01:00,091 - INFO - Sharpe Ratio: 2.09
2025-06-06 16:01:00,091 - INFO - Max Drawdown: -8.25%
2025-06-06 16:01:00,092 - INFO - Information Ratio: 2.15
2025-06-06 16:01:00,092 - INFO - Win Rate: 20.69%
2025-06-06 16:01:00,410 - INFO -
Backtest complete!
=== BACKTEST END ===
=== PIPELINE END ===

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
import seaborn as sns
import tensorflow as tf

Importing the data, check the data by applying the function head, then cleaning the data.

In [ ]:
X_train = pd.read_parquet("X_train.parquet")
X_train.head()

,stock_id,date,piot_norm,dsi,dtcn,ddtcn,short_interest,asset_turnover_ratio,current_liabilities,ev_to_ebit,...,deps,value_mean_eps,value_smart_eps,value_split_adj_mean_eps,value_split_adj_smart_eps,MASK_EARNINGS,gics_sector,gics_group,gics_industry,gics_subindustry
0,1,2014-02-25,NaN,NaN,NaN,NaN,1406440.0,NaN,NaN,NaN,...,NaN,0.240994,NaN,0.49452,NaN,1,Consumer Discretionary,Consumer Services,"Hotels, Restaurants & Leisure","Hotels, Resorts & Cruise Lines"
1,1,2014-05-07,0.875,NaN,NaN,NaN,2216110.0,0.236071,2.090000e+09,24.9368,...,-0.00147,0.125585,0.124868,0.25770,0.25623,1,Consumer Discretionary,Consumer Services,"Hotels, Restaurants & Leisure","Hotels, Resorts & Cruise Lines"
2,1,2014-07-30,0.875,NaN,NaN,NaN,2183770.0,0.236071,2.090000e+09,24.9368,...,0.00150,0.277427,0.278158,0.56928,0.57078,1,Consumer Discretionary,Consumer Services,"Hotels, Restaurants & Leisure","Hotels, Resorts & Cruise Lines"
3,1,2014-10-29,0.875,NaN,NaN,NaN,4279720.0,0.236071,2.090000e+09,24.9368,...,0.00726,0.243772,0.247632,0.50022,0.50814,1,Consumer Discretionary,Consumer Services,"Hotels, Restaurants & Leisure","Hotels, Resorts & Cruise Lines"
4,1,2015-02-13,0.875,0.004025,1.134529,-0.362399,1931410.0,0.236071,2.090000e+09,24.9368,...,0.00741,0.261184,0.264795,0.53595,0.54336,1,Consumer Discretionary,Consumer Services,"Hotels, Restaurants & Leisure","Hotels, Resorts & Cruise Lines"

In [ ]:
DummyX_test = pd.read_parquet("DummyX_test.parquet")
DummyX_test.head()

,stock_id,date,piot_norm,dsi,dtcn,ddtcn,short_interest,asset_turnover_ratio,current_liabilities,ev_to_ebit,...,deps,value_mean_eps,value_smart_eps,value_split_adj_mean_eps,value_split_adj_smart_eps,MASK_EARNINGS,gics_sector,gics_group,gics_industry,gics_subindustry
33,1,2022-04-29,0.559694,0.029782,3.374708,-8.124451,1.495047e+07,1.895862,2.378440e+09,124.073778,...,-0.119742,1.329654,0.880482,0.961276,0.846399,1.0,Communication Services,Consumer Durables & Apparel,Consumer Finance,Timber REITs
34,1,2022-07-25,0.578449,0.010995,15.544933,-4.274415,1.850066e+07,1.337111,1.169435e+09,157.346782,...,-0.020472,2.559878,10.052196,0.254823,-0.064558,1.0,Consumer Staples,Software & Services,Hotel & Resort REITs,Fertilizers & Agricultural Chemicals
35,1,2022-10-24,0.644343,0.161878,12.139300,3.901776,-3.592270e+05,1.484437,9.942401e+10,NaN,...,-0.007814,1.315210,0.076584,2.063647,-0.745158,1.0,Financials,Utilities,Containers & Packaging,Electronic Equipment & Instruments
36,1,2023-02-07,0.585925,0.030798,1.942343,1.305056,-9.286998e+04,0.058715,4.632626e+09,NaN,...,0.055312,-0.050804,0.398179,0.825654,0.448080,1.0,Energy,Consumer Services,Broadline Retail,Electronic Equipment & Instruments
37,1,2023-04-24,0.680869,0.016672,0.610124,-1.093660,5.246288e+06,0.407839,1.305684e+09,80.983611,...,0.148465,0.229002,0.140618,0.133723,0.538057,1.0,Consumer Staples,Technology Hardware & Equipment,Mortgage Real Estate Investment Trusts (REITs),Leisure Facilities

In [ ]:
y_train = pd.read_parquet("y_train.parquet")
y_train.head()

,stock_id,date,adjusted_close,auxiliary_target_1,auxiliary_target_2,forward_return
0,1,2014-02-25,43.4775,0.000000,-3.517415,-0.002219
1,1,2014-05-07,44.0411,0.402140,-2.724038,0.018992
2,1,2014-07-30,47.9671,0.114653,-3.088564,0.003305
3,1,2014-10-29,47.7339,0.033862,-3.151757,0.009196
4,1,2015-02-13,55.5276,-0.062309,-3.400788,-0.003840

Then we need to clean the datasets

# 2. Training for models